<h3>Report Performance: {{ user.name }}</h3>
<p>Dettagli per la Regione: {{ user.regione }}</p>

<table border="1">
    <tr>
        <th>Metrica</th>
        <th>Valore Nazionale</th>
        <th>Valore Regionale</th>
    </tr>
    <tr>
        <td>Completezza Complessiva</td>
        <td>{{ user.metrics.nazionale.completezza }}</td>
        <td>{{ user.metrics.regionale.completezza }}</td>
    </tr>
    <tr>
        <td>Prime Due Settimane</td>
        <td>{{ user.metrics.nazionale.due_settimane }}</td>
        <td>{{ user.metrics.regionale.due_settimane }}</td>
    </tr>
</table>